<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 -->
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/images/yellowstone.jpg" style="width:45%;" class="w3-round"><br><br>

  </div>
  <div class="w3-bar-block">
    <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
  </div>
  <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Welcome to Travelogue</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span>
      <button class="w3-button w3-black">ALL</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
    </div>
    </div>
  </header>

  <!-- First Photo Grid-->

  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
    <div class="image-container" style="background:url(/images/yellowstone.jpg)"></div>

      <div class="w3-container w3-white">
        <p><b><a href="/">Yosemite National Park </a></b></p>
        <p>Designated a World Heritage Site in 1984, Yosemite is internationally recognized for its granite cliffs, waterfalls, clear streams, giant sequoia groves, lakes, mountains, glaciers, and biological diversity.Almost 95% of the park is designated wilderness.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
    <div class="image-container" style="background:url(/images/glacier_national_park.jpg)"></div>

      <!-- <img src="/images/glacier_national_park.jpg" alt="Glacier National Park" style="width:100%" style="height:20%"  class="w3-hover-opacity"> -->
      <div class="w3-container w3-white">
        <p><b>Glacier National Park</b></p>
        <p>Glacier National Park is located in the U.S. state of Montana, on the Canada–United States border with the Canadian provinces of Alberta and British Columbia. The park encompasses over 130 named lakes, more than 1,000 different species of plants, and hundreds of species of animals.</p>
      </div>
    </div>
    <div class="w3-third w3-container ">
      <div class="image-container" style="background:url(/images/rocky%20mountain.jpg)"></div>

      <!-- <img src="/images/rocky mountain.jpg" alt="Rocky Mountain" style="width:100%" class="w3-hover-opacity"> -->
      <div class="w3-container w3-white">
        <p><b>Rocky Mountain National Park</b></p>
        <p>Rocky Mountain National Park is located in north-central Colorado, U.S.A. The eastern and westerns slopes of the Continental Divide run directly through the center of the park. The main features of the park include mountains, alpine lakes and a wide variety of wildlife.</p>
      </div>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <div class="image-container" style="background:url(/images/yellow.jpg)"></div>
      <!-- <img src="/images/yellow.jpg" alt="Yellowstone" style="width:100%" class="w3-hover-opacity"> -->
    <div class="w3-container w3-white">
      <p><b>Yellowstone National Park</b></p>
      <p >Yellowstone National Park is located in the U.S. states of Wyoming, Montana, and Idaho. It was the first National Park in the U.S. The park is known for its wildlife and its many geothermal features, especially Old Faithful geyser.  </p>
    </div>
  </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <div class="image-container" style="background:url(/images/bryce.jpg)"></div>
      <div class="w3-container w3-white">
        <p><b>Bryce Canyon National Park</b></p>
        <p>Bryce Canyon National Park is located in southwestern Utah, U.S.A. The major feature of the park is Bryce Canyon, It is distinctive due to geological structures called hoodoos. The red, orange, and white colors of the rocks provide spectacular views. </p>
      </div>
    </div>

    <div class="w3-third w3-container">
    <div class="image-container" style="background:url(/images/Zion.jpeg)"></div>
<!--       <img src="/images/Zion.jpeg" alt="Zion" style="width:100%" class="w3-hover-opacity">
 -->  <div class="w3-container w3-white">
        <p><b>Zion National Park</b></p>
        <p>Zion National Park is located in southwestern Utah, U.S.A. The park's unique geography allows for unusual plant and animal diversity. It has about 289 species of birds, 75 mammals (including 19 species of bat), and 32 reptiles inhabit the park's four life zones: desert, riparian, woodland, and coniferous forest. Zion National Park includes mountains, canyons, buttes, mesas, monoliths, rivers, slot canyons, and natural arches.</p>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <!-- Images of Me -->
  <div class="w3-row-padding w3-padding-16" id="about">
    <div class="w3-col m6">
      <img src="/w3images/avatar_g.jpg" alt="Me" style="width:100%">
    </div>
    <div class="w3-col m6">
      <img src="/w3images/me2.jpg" alt="Me" style="width:100%">
    </div>
  </div>

  <div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h4><b>About Me</b></h4>
    <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    <hr>


  <!-- Contact Section -->
  <div class="w3-container w3-padding-large w3-grey">
    <h4 id="contact"><b>Contact Me</b></h4>
    <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
        <p>email@email.com</p>
      </div>
      <div class="w3-third w3-teal">
        <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
        <p>Chicago, US</p>
      </div>
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
        <p>512312311</p>
      </div>
    </div>
    <hr class="w3-opacity">
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Send Message</button>
    </form>
  </div>

<!-- Footer -->
  <!-- <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>FOOTER</h3>

      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div> -->

    <!-- <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Lorem</span><br>
          <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Ipsum</span><br>
          <span>Praes tinci sed</span>
        </li>
      </ul>
    </div> -->

    <div class="w3-third">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Yosemite National Park</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Glacier National Park</span><span class="w3-tag w3-grey w3-small w3-margin-bottom">Rocky Mountain National Park</span><span class="w3-tag w3-grey w3-small w3-margin-bottom">Yellowstone National Park</span><span class="w3-tag w3-grey w3-small w3-margin-bottom">Bryce Canyon National Park</span><span class="w3-tag w3-grey w3-small w3-margin-bottom">Zion National Park</span>

      </p>
    </div>


  </div>
  </footer>

  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
