<!DOCTYPE html>
<html>
<head>
  <title>Yosemite National Park</title>
</head>
<body>
<h1> Yosemite National Park </h1>
   <h2>Top things to do</h2>
   <ul>
     <li>Glacier Point</li>
     <p> Top Reviews:</p>
     <p> Review 1: If you're down on the valley floor and you want something else to do this is a must trip it's a long winding slow Road due to traffic mostly, there's a few areas where you can pull over and have a picnic so I would recommend bring some lunch and drinks don't be in a rush to get to the top I think the most beauty is on the way getting there. there are many pull over areas with outlooks spots that are just fantastic views, in my opinion better than Glacier Point, once you get to Glacier Point the parking can be hard to find a spot to park depending on time of year. it's a bit of a hike up a paved hill if you're handicapped or maybe a little out of shape. But take your time it's worth it. </p>

     <p> Review 2: Stunning Views of Yosemite Valley and the park. The mountains tower above you stretching one after the other into the distance giving you the most magnificent views at Glacier Point and pretty much any other view points in the National Park. The majestic trees, mirror-still lakes and winding streams add to the serenity. Truly a joy to behold. We absolutely loved it and could barely tear ourselves away.</p>
     <br>
     <p><a href="https://www.tripadvisor.com/Attraction_Review-g61000-d139187-Reviews-Glacier_Point-Yosemite_National_Park_California.html>More information for Glacier point can be found here."</a></p>


     <li>Yosemite Valley</li>
     <p> Top Reviews:</p>
     <p> Review 1: There just are not words. The most beautiful place we have ever seen. Bridalveil Falls is your first stop, and then as you see Yosemite Falls, you are amazed. You have to walk everywhere because you need to see it all on foot. They have shuttle buses, but if you do not have physical limitations, I highly recommend you walk...everywhere. Oh, and DO NO FEED any animals at all and please pick up your trash no matter how small it is. Even pick up the trash of others if you see it. Be a good steward.</p>

     <p> Review 2: One of the most awe inspiring places we have been to visit. From the cascading waterfalls, to amazing rock formations, to the animals along the side of the road -- it was fantastic. The shuttles make getting around so easy and you can walk the trails to so many places. If you go in April or early May, there are areas that are not yet open due to the winter closings. But there is still so much to see, and the water falls are magnificent due to the snow melt during this time. Plan to get there early so you can find easier parking, and plan to spend a good bit of time -- there is so much to see!</p>
     <br>
     <p><a href="https://www.tripadvisor.com/Attraction_Review-g61000-d489919-Reviews-Yosemite_Valley-Yosemite_National_Park_California.html"></a></p>

   </ul>

<!-- **Vernal Falls**

Review1: This is a popular trail so be prepared for crowds. To the bridge view it is less than a mile but straight up on asphalt. There are lots of places to stop with great views of Upper Yosemite falls, Glacier Point, Illilouette falls & of course the mighty Merced. You can continue up to the top either on the Mist trail which you better have rain gear & waterproof boots since it is wet & slick or you can go up the John Muir trail. Great view up top.

![Vernal Falls](http://www.yosemite.com/wp-content/uploads/2016/04/Vernal-Fall-Yosemite-Mariposa-Things-To-Do-Slide-.jpg)

**Tenaya Lake**

Review1: Tioga Road may be off Broadway, but it's remoteness, not quality, that's the cause. Most visitors (like us) enter Yosemite through one of the three western gates, and far more people spend their time cavorting in Yosemite Valley than make the winding drive up to see the brightest lights of the Tioga region, which are at the eastern end of the park. Personally, we are living only 2 hours from the park so we always drove in and out in one day. Therefore, we have never had enough time to drive and explore Tioga road until this time. We camped and thus spent the whole next day to explore the road and tried some short hikes.

And...WOW...!!!

What can I say: It's worth the trip.

Tioga road is packed with overlooked gems like Olmsted Point, Tenaya Lake, and Tuolumne Meadows. Tenaya Lake is right by the side of Tioga Road. You can pull over and park along the road. It is very easy to go down to the lake. It is a perfect place to enjoy a picnic lunch, have a splash, or make a beautiful sandcastle. The water was clear, cold, and refreshing. It was great!

Review2: We hiked this trail early in the morning starting at the east side of the lake and surrounding the whole lake. The hike is very easy with almost level terrain and since we went in September we didn't have to cross any streams since they were tried up. The beach area is very nice and we waded into the cold water. The views are stunning. You can see rock climbers going up on the granite which is fascinating. The only downside on this hike is that the last 1/3 of the hike you walk on a sidewalk next to the road. Easily doable

![Tenaya Lake](https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Tenaya_Lake_120%C2%B0_pano.jpg/500px-Tenaya_Lake_120%C2%B0_pano.jpg)

**Tuolumne Meadows**

Review1: This is more of a remote location of this monster of a park, but it is worth the drive. The meadows are often exploding with color. It is on the way to Lembert Dome (another great day hike). The views will take your breath away.

Review2:Tuolumne Meadows offers a very different perspective of Yosemite's beauty compared to Yosemite Valley. This high meadow environment offers beautiful wildflower meadows in the spring and summer, cool lake waters to dip your feet in, and good hiking trail options. Be sure to include this area during your visit!

![Meadows](https://c1.staticflickr.com/7/6008/5972586081_de69b89693_b.jpg)

**Bridal Veil**

Review1:Wear shoes that can get wet and even a light rain jacket. You are going to get wet if you go like we did after they received a lot of rain in California. After a 5 year drought, we went at exactly the right time. The falls were billowing just like a bridal veil.

Review2: Bridalveil Falls is an easy hike from the parking lot. There are views from all around the park of this waterfall. Be aware that as you get close to the bottom, the spray is heavy. It's next to impossible to get a shot here without getting mist on your lens. I was soaked & loved it!

![Bridal Veil](https://media-cdn.tripadvisor.com/media/photo-s/02/d8/6c/96/bridal-veil-falls.jpg)

**Nevada Falls Loop**

Review1: We started early with a bus to the base of the trail, hike up past Vernal to the base of Nevada. The views from the bottom of the falls were breathtaking. So I stayed there while my husband clambered up to the top of Nevada. Very peaceful.

Review2: The lower part of the walk (up to Vernal falls) is really busy and touristy but once you get above Vernal and head to Nevada falls there are fewer people and spectacular scenery.

![Nevada Falls](http://timsartoris.com/blog/wp-content/uploads/2010/06/IMG_17426.jpg)
 -->

</body>
</html>
